* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-1 {
    width: 1120px;
    margin: auto;
}

.container-2 {
    width: 1000px;
    margin: auto;
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    background-color: #6538E8;
    color: #FFF;
    border-radius: 4px;
    text-align: center;
}

.back-to-top:hover {
    background-color: #762cdd;
}

.back-to-top-icon {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.header {
    background-color: #6538E8;
    position: sticky;
    top: 0px;
    opacity: 95%;
}

.header-wrapper {
    padding: 16px 0;


    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo {
    color: whitesmoke;
    font-size: 30px;
    padding: 5px;
    font-weight: bolder;
}

#logo:hover {
    color: white;
}

.nav-items {
    font-size: 18px;
    text-decoration: none;
    color: #D7CAF9;
}

.nav{
    margin-right: 0px;
}

.nav-list {
    padding: 15px;
    display: inline;
}

#selected {
    border-bottom: 3px solid whitesmoke;
    color: whitesmoke;
}

.get-started{
    border: solid 2px #D7CAF9;
    
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}



.get-started:hover {
    border: 2px solid white;
}



.nav-items:hover {
    border-bottom: 3px solid white;
    color: whitesmoke;
}


.banner {
    background-color: #6538E8;
}


.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.text-area {
    width: 50%;
}

.txt-heading {
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    font-size: 70px;
}

.txt {
    margin: 5px 0px 35px 0px;
    color: #D7CAF9;
    font-size: 25px;
}

.image-area {
    float: right;
    width: 50%;
}

img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.about-wrapper {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.about-text-area {
    width: 50%;
}

.about-image-area {
    float: right;
    width: 50%;
}

.about-text-heading {
    font-size: 30px;
}

.statistics {

    height: auto;
    background-color: #6538E8;
}

.statistics-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats {
    padding: 75px 0px;
    text-align: center;

}

.stats-num {
    margin: 0;
    color: white;
    font-size: 50px;
}

.stats-name {
    margin: 3px;
    color: #D7CAF9;
    font-size: 17px;
}

.section-detail {
    text-align: center;
}

.section-heading {
    padding-top: 100px;
    font-size: 50px;
    margin: 1px;
    color: #434343;
}

.section-text {
    font-size: 20px;
}

hr {
    border: solid 3px #6538E8;
    background-color: #6538E8;
    width: 75px;
    margin: 15px auto;
}

.services {
    background-color: #F9F8FE;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 340px;
    height: 340px;
    border-radius: 1px;
    background-color: white;
    margin: 10px;
}

.card-info {
    margin: 20px;
}

.card-heading {
    font-size: 25px;
    color: #2D4961;
    margin: 10px;
}

.cards-text {
    font-size: 17px;
    color: #434343;
}

.cards:hover {
    box-shadow: 0px 0px 10px 3px #c5c5c5;
}

.features {
    height: 500px;
}



.footer {
    background-color: #6538E8;
    color: white;
    font-size: 15px;
}

.footer-top-wrapper {
    display: flex;
    height: 324px;
    justify-content: space-between;
    align-items: center;
}

.footer-top-address {
    width: 185px;
    height: 200px;
}

.footer-top-address *{
    margin: 19px 0px;
    line-height:1.6;
}

.footer-logo{
    font-size: 27px;
    margin: 0;
    padding: 0;
}

.footer-top-links-box{
    width: 355px;

    height: 200px;
}

.footer-top-links-heading{
    margin: 0px;
    font-size: 17px;
}

.footer-top-links-wrapper{
    display: flex;
    justify-content: space-around;
}

.footer-top-links-left{
    width: auto;
    height: 200px;   
}

.footer-top-links-box a{
    color: #D7CAF9;
}

.footer-top-links-box a:hover{
    color: white;
    text-decoration: underline;
}

.footer-top-links{
    font-size: 15px;
    margin: 18px 10px;
}

 
.footer-top-newsletter {
    width: 360px;
    height: 200px;
}

.news-text{
    margin: 25px 0;
    padding: 0;
    font-size: 16px;
}


.sub-text{
    height: 45px;
    width: 240px;
    border-radius: 7px 0 0 7px;
}

.sub-btn{
    background-color: #9552df;
    padding: 13px 22px;
    border-radius: 0px 7px 7px 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.sub-btn:hover{
    background-color:#762cdd;
}

.footer hr {
    background-color: #c5c5c5;
    height: 7px;
    width: 100%;
    margin: 0;
}


.footer-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-bottom-left a{
    font-size: 14px;
}

.footer-bottom-right-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-right-icons{
    width: 40px;
    height: 40px;
    background-color:#762cdd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.footer-bottom-right-icons:hover{
    background-color: #9552df;
}